@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --accent: #9966ff;
  --accent-foreground: #f5f2ff;
  --foreground: var(--color-black);
  --foreground-secondary: rgba(0, 0, 0, 0.6);
}

.dark {
  --accent: #bb99ff;
  --accent-foreground: #350c69;
  --foreground: var(--color-white);
  --foreground-secondary: rgba(255, 255, 255, 0.7);
}

@theme inline {
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
}

@theme {
  --color-mirage-50: #f6f6f9;
  --color-mirage-100: #ededf1;
  --color-mirage-200: #d6d7e1;
  --color-mirage-300: #b3b6c6;
  --color-mirage-400: #898fa7;
  --color-mirage-500: #6a708d;
  --color-mirage-600: #555974;
  --color-mirage-700: #464a5e;
  --color-mirage-800: #3d4051;
  --color-mirage-900: #353745;
  --color-mirage-950: #23242e;
}

button {
  cursor: pointer;
}
